body {  
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    top: 0px;
    background-color: darkturquoise;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#titulo {
    font-size: 35px;
}

.grupo_foto_link {
    margin-top: 190px;
}

#minha_foto {
    border: 6px solid black;
}

#article {
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}